<% const rootPath = '../../../' %> 
<%- include(`${rootPath}/src/components/top_nav_bar/top_nav_bar_style.ejs`) %> 

<nav class="top-nav-bar">
    <a class="item">Modelos</a>
    <a class="item">Subí el tuyo</a>
    <div class="space"></div>
    <a id="profile_name"><%= locals.user.name %></a>
    <img src="<%= locals.photo %>" id="profile_photo" alt="profile_photo">
</nav>