<% const rootPath = '../../../' %> 
<%- include(`${rootPath}/src/components/top_nav_bar/top_nav_bar_style.ejs`) %> 

<nav class="top-nav-bar">
    <a class="item">Modelos</a>
    <a class="item">Subí el tuyo</a>
</nav>